*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dedadd;
}
.card{
    width:90%;
    min-height:600px;
    max-width: 600px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background:linear-gradient(rgb(222, 167, 213), rgb(222, 173, 167));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    justify-content:center
}
.img{
    border-radius: 50%;
    object-fit:cover;
}
.skills{
    border-radius: 10px;
     display:flex;
    margin-top: 20px;
    gap:30px;
     background: linear-gradient(rgb(222, 167, 213), rgb(222, 173, 167));
     padding: 20px;
}
.skills span{
    background: #fff;
    padding: 10px 20px;
    border-radius:15px;
    font-weight: bold;
}
.skills span:hover{
    background: #000;
    color: #f4f0f5;
    transition: 0.3s ease;
}
#follow-btn{
    background:red;
    color: #1d1b1b;
    padding: 10px 20px;
    font-weight:bold;
    border-radius:15px;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
